@media (max-width: 763px){
    
    header{
        height: 4%;
    }
    .logo{
        line-height: 25px;
        width: 3%;
    }
    .logo a{
        margin-left: 15px;
        font-size: 10px;;
    }

    nav{
        line-height: 24px;
        float: right;
        width: 60%;
    }
    nav a{
        margin-right: 0px;
        font-size: 10px;
    }
}