*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

header{
    height: 8%;
    opacity: 80%;
    background:black;
    border-bottom: 2px solid red;
    width: 100%;
    z-index: 12;
    position: fixed;
}

.logo{
    line-height: 40px;
    width: 30%;
    float: left;
}
.logo a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 4px;
}

nav{
    width: 30%;
    float: right;
    line-height: 40px;
}
nav a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-size: 15px;
    margin: 10px;
    color: white;
}
nav a:hover{
    text-decoration: underline;
    color: #00f0f0;
}

.banner-area{
    width: 100%;
    height: 440px;
    position: fixed;
    top: 8%;
    background-image: url("../img/officeBanner.jpg");
    -webkit-background-size: cover;
}
.bannertext{
    float: right;
    margin-top: 10%;
    margin-right: 10%;
}
.banner-area h2{
    text-shadow: 2px 2px 5px black;
    font-size: 70px;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    border-bottom: 2px solid white;
}
.banner-area p{
    text-shadow: 2px 2px 5px black;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: right;
}

.contant-area{
    width: 100%;
    position: relative;
    top: 500px;
    background-color: white;
}
.contant-area h2{
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}
.contant-area p{
    padding: 2% 0;
    font-family: 'Work Sans', sans-serif;
    line-height: 30px;
}