*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

/*Area do menu*/
nav{
    background-color: 2c3e50;
    height: 80px;
    width: 100%;
    z-index: 12;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: 0.5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    margin-top: 22px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*area do banner*/
.banner-area{
    width:100%;
    height: 440px;
    top: 80px;
    background-image: url("../img/officeBanner.jpg");
    -webkit-background-size: cover;
}

.bannertxt{
    float: right;
    margin-top: 10%;
    margin-right: 10%;
}

.bannertxt h2{
    color: white;
    font-size: 70px;
    text-align: right;
    border-bottom: 2px solid white;
}

.bannertxt p{
    color: white;
    font-size: 40px;
    text-align: right;
}