@media (max-width: 768px ){
    body{
        margin: 0;
        padding: 0;
    }

    /*nome no canto*/
    .logo{
        padding: 2%;
    }

/*espessura da barra de navegação*/
    .menu nav{
        padding: 2%;
    }
/*tamanho do banner*/
    .banner{
        height: 30%;
    }
    .banner h1{
        font-size: 50px;
        margin-top: 18%;
    }

/*conteudo, titulo e paragrafo*/
    .content h2{
        font-size: 30px;
    }
    .content p{
        font-size: 15px;
        padding: 0px;
    }
}

/*___________________________________________________________________________________________*
